main {
  min-height: 70vh;
}

.homescreen-bg {
  height: 100%;
  background-image: url(./bg.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}

.lp-border {
  border: 1px solid rgb(51, 51, 51);
  border-radius: 2%;
}

.rating span {
  margin: 0.08rem;
}

.title-container {
  margin-top: 2rem;
}

.welcome-text {
  font-size: 2.5rem;
  font-weight: bolder;
}
